apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "cactus.fullname" . }}
  labels:
    {{- include "cactus.labels" . | nindent 4 }}
data:
  40-react-env-vars.sh: |
    #!/bin/sh
    cd /usr/share/nginx/html/_expo/static/js/web/

    prefix="EXPO_PUBLIC"
    for var in \
      API_URL \
      DDS_URL \
      POCKETBASE_URL \
      AUKI_APP_KEY \
      AUKI_APP_SECRET \
      DS_URL \
      CACTUS_ENABLE_PRODUCT_SCANNING \
      CACTUS_ENABLE_DEV_ANALYTICS \
      AMPLITUDE_DEV_API_KEY \
      AMPLITUDE_PROD_API_KEY \
      ZITADEL_ISSUER \
      ZITADEL_CLIENT_ID_WEB \
      JOYSTICK_API_KEY \
      ; do
      var_name="${prefix}_${var}"
      eval_cmd="echo \"\$${var_name}\""
      var_value="$(eval "${eval_cmd}")"
      sed_script="s~__${var_name}__~${var_value}~g"

      sed -i "${sed_script}" *.js
    done
