{{- $secrets := .Values.secrets }}
{{- $fullName := include "cactus.fullname" . }}
{{- $secretName := .Values.existingSecretName }}
{{- if or (eq .Values.useExistingSecret false) (empty .Values.existingSecretName) }}
{{- $secretName = $fullName }}
{{- end }}
{{- $hasEnvFromSecret := false }}
{{- range $secretKey, $secretConfig := $secrets }}
  {{- if eq $secretConfig.as "envFrom" }}
    {{- $hasEnvFromSecret = true }}
  {{- end }}
{{- end }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cactus.fullname" . }}
  labels:
    {{- include "cactus.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "cactus.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "cactus.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "cactus.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default (printf "v%s" .Chart.AppVersion) }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: nginx-cache
              mountPath: /var/cache/nginx
            - name: nginx-run
              mountPath: /var/run
            - name: nginx-tmp
              mountPath: /tmp
            - name: cactus
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: nginx-default.conf
            - name: cactus
              mountPath: /docker-entrypoint.d/40-react-env-vars.sh
              subPath: 40-react-env-vars.sh
              readOnly: true
            {{- with .Values.volumeMounts }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
          env:
          {{- range $key, $value := .Values.envVars }}
            - name: {{ $key }}
              value: {{ quote $value }}
          {{- end }}
          {{- range $secretSource, $secretConfig := $secrets }}
            {{- if or (eq $secretConfig.as "environment") (eq $secretConfig.as "csi") }}
            {{- range $item := $secretConfig.items }}
            - name: {{ required "envVarName is required on secrets items when using environment or csi" $item.envVarName | quote }}
              valueFrom:
                secretKeyRef:
                  name: {{ if eq $secretSource "cactus" }}{{ $secretName }}{{ else }}{{ $secretSource }}{{ end }}
                  key: {{ $item.key }}
            {{- end }}
            {{- end }}
          {{- end }}
          {{- if $hasEnvFromSecret }}
          envFrom:
            {{- range $secretSource, $secretConfig := $secrets }}
            {{- if eq $secretConfig.as "envFrom" }}
            - secretRef:
                name: {{ if eq $secretSource "cactus" }}{{ $secretName }}{{ else }}{{ $secretSource }}{{ end }}
            {{- end }}
            {{- end }}
          {{- end }}
      volumes:
        - name: nginx-cache
          emptyDir: {}
        - name: nginx-run
          emptyDir: {}
        - name: nginx-tmp
          emptyDir: {}
        - name: cactus
          configMap:
            name: {{ include "cactus.fullname" . }}
        {{- with .Values.volumes }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
